#root,
#__next {
  isolation: isolate;
}

/* Globals */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: theme('colors.text');
    background-color: theme('colors.canvas');
  }

  hr {
    border-color: theme('colors.surface-accent');
  }
}
